<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaleSync Login</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/modals.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"/>
</head> 

<body>
    <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="row fixed-top" style="z-index: 1000;">
                <div class="col-md-12">
                {% for category, message in messages %}
                    <div class="alert {% if category == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endwith %}
        </div>
    
        <div class="container">
            <div class="wrapper">
                <img src="../static/tcfmlogo.jpg" alt="TCFM Logo" class="side-image">
                <form method="POST">
                    <h1>LOGIN</h1>
                    <div class="input-box">
                        <input type="text" placeholder="EID" required id="eid" name="eid">
                        <i class='bx bxs-user'></i>
                    </div>
                    <div class="input-box">
                        <input type="password" placeholder="Password" required id="password" name="password">
                        <i class='bx bx-show-alt' onclick="togglePasswordVisibility('password', this)"></i>
                    </div>

                    <div class="forgot password">
                        <a href="#" onclick="openForgotPasswordModal()">FORGOT PASSWORD?</a>
                    </div>

                    <button type="submit" class="btn">Login</button>

                    <div class="createAccount">
                        <p>DON'T HAVE AN ACCOUNT?<a href="sign-up"> REGISTER.</a></p>
                    </div>
                </form>
            </div>
        </div>


        {% include 'forgetpw.html' %}



    <script>

        function openForgotPasswordModal() {
            document.getElementById('forgotPasswordModal').style.display = 'block';
        }

        function closeForgotPasswordModal() {
            document.getElementById('forgotPasswordModal').style.display = 'none';
        }

        function togglePasswordVisibility(inputId, icon) {
            var input = document.getElementById(inputId);
            if (input.type === 'password') {
            input.type = 'text';
            icon.classList.replace('bx-show-alt', 'bx-hide');
            } else {
            input.type = 'password';
            icon.classList.replace('bx-hide', 'bx-show-alt')
            }
        }


    </script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>

</body>
</html>
