@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.a1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    transform: translateY(0%)
}

.a2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-right: 700px;
    font-size: 30px;
    padding-left: 10px;
    transform: translateY(0%)
}

i.bx-package {
    right: 20px;
    top: 10%;
    transform: translateY(0%);
    font-size: 50px;
    cursor: pointer;
    color: #ff9c03;
}

.voided-transaction {
    color: #721c24; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#printModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
.wrapper .btnRemove {
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: red;
    font-weight: 600;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("background1.jpg");
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.container {
    width: 100%; 
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px; 
}

.scrollable-box {
    max-height: 500px; 
    overflow-y: auto; 
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px; 
    overflow-y: auto;
}

.table {
    width: 100%; 
    table-layout: fixed; 
}



.invtable {
    width: 100%;
    border-collapse: collapse;
}

.info-bar {
    font-weight: 700;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.merge-row {
    margin-top: 30px;
    grid-column: span 2;
    text-align: right;
    white-space: nowrap; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-end;
}

.merge-rows {
    grid-column: span 3;
    flex-direction: column;
}


.wrapper {
    display: grid;
    grid-template-columns: 400px 400px 145px 145px 145px;
    grid-template-rows: 150px 60px 60px 100px;
    gap: 40px;
    background: #FFFFFF;
    color: #ff9c03;
    border-radius: 10px;
    padding: 30px;
    width: 1500px;
    margin-bottom: 20px;
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #ff9c03;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff9c03;
}

.wrapper .btn {
    width: 180px;
    height: 80px;
    background: #ff9c03;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #5e5e5e;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 50px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 30px;
}

.input-box label {
    display: block;
    font-size: 10px;
    margin-bottom: 8px;
    font-weight: 700;
    color: #5e5e5e;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #5e5e5e;
    border-radius: 40px;
    font-size: 14px;
    color: #5e5e5e;
    padding: 20px;
    padding-right: 40px;
}

.table-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    width: 1500px;
    background: #FFFFFF;
    color: #333;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.prodtable{
    width: 1500px;
}
.prodtable th, .prodtable td {
    text-align: center;
    color:#5e5e5e;
    

}

.prodtable th {
    background-color: #f8f9fa;
    height: 50px;
    color:#ff9c03;

}

.table-responsive {
    overflow-x: auto;
}
